**/*.o
**/*.mod
**/fort.*
**/__pycache__
**/.DS_Store
**/.*~
src/yrec
**/output/
**/standard/
src/*.a
src/test_eos
src/test_kap
src/test_atm
src/test_eos.short
src/test_kap.short
src/test_atm.short
src/test_net
src/test_reentry
src/test_net.short
COMMENTS.md
